<section id = "errorPage">
    <h1>Congratulations! You broke our website</h1>
    <p>Please report this error with how you got here to the admins</p>
    <a href = "/">Back to a safe place</a>

    <section>
        <h2>{{error.message}}</h2>
        <h4>-</h4>
        <h3>{{error.status}}</h3>
    </section>

    <pre>{{error.stack}}</pre>
</section>