<footer>
    <p>&copy; 2022 Haute École Léonard de VINCI, IPL</p>

    <a class = "logo" href = "/">
        <img src = "/images/logo.png" alt = "logo" />
    </a>

    <p>François Vandeputte & Chehrazad Ouazzani</p>
</footer>